@model ShopTracker.Models.User

@{ 
    ViewData["Title"] = "Sign up";
}

<div class="row py-5 bg-xx-2">

    <div class="col-12 text-center mb-3">
        <h1 class="display-4 text-white">Sign up</h1>
    </div>

    <div class="d-none d-lg-block col-lg-4"></div>

    <div class="col-12 col-lg-4 text-white text-center">
        <form asp-controller="Account" asp-action="New" method="POST">
            @Html.AntiForgeryToken()

            <div class="form-group mb-2">
                <label for="username" class="sr-only">Username</label>
                <input id="username" type="text" class="form-control form-control-lg border-sharp" name="username" placeholder="Pick a username" autofocus />
                <small class="form-help-intro text-xx-9">Pick a username that is 4-25 characters long</small>
            </div>

            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input id="password" type="password" class="form-control form-control-lg border-sharp" name="password" placeholder="Strong password" />
                <small class="form-help-intro text-xx-9">Pick a strong password that contains at least 6 characters (lower case, upper case and numerical)</small>
            </div>

            <button type="submit" class="btn-lg form-control border-sharp bg-xx-5 text-white">Sign up</button>
        </form>
    </div>

</div>