@model List<ShopTracker.Models.Category>

@{ 
    // In case this is being rendered in the edit form
    // try to get current category
    TempData.TryGetValue("CurrentCategory", out object currentCategory);
}

<div class="col-12 col-md-4 mb-2">
    <div class="form-group">
        <label for="category" class="sr-only" aria-hidden="true">Category select</label>
        <select class="form-control" id="category" name="category">
            @if (currentCategory != null)
            {
                <option value="@((currentCategory as ShopTracker.Models.Category).CategoryID)" selected>@((currentCategory as ShopTracker.Models.Category).Name)</option>
            }
            else
            {
                <option value="" disabled selected>Category</option>
            }
            @foreach (var category in Model)
            {
                <option value="@category.CategoryID">@category.Name</option>
            }
        </select>
    </div>
</div>