@model ShopTracker.Models.Item

@{
    ViewData["Title"] = "New";
}

<div class="row bg-xx-1 py-2">
    <div class="col-12 text-center">
        <h1 class="h-intro text-xx-6">Add new item</h1>
    </div>
</div>

<div class="row bg-xx-5 py-5">

    <div class="col-12">
        <form class="form" asp-controller="Item" asp-action="New" method="POST">
            @Html.AntiForgeryToken()

            <div class="form-row">

                <div class="col-12 col-md-4 mb-2">
                    <label for="name" class="text-white">Name</label>
                    <input type="text" class="form-control border-sharp" id="name" name="name" placeholder="Coca-Cola" />
                </div>

                <div class="col-12 col-md-8 mb-2">
                    <label for="description" class="text-white">Description</label>
                    <input type="text" class="form-control border-sharp" id="description" name="description" placeholder="A carbonated drink (Optional)" />
                </div>

                <div class="col-12 col-md-4 mb-2">
                    <label for="category" class="text-white">Category</label>
                    <select class="form-control custom-select border-sharp" id="category" name="category"></select>
                </div>

                <div class="col-12 col-md-4 mb-2">
                    <label for="measure" class="text-white">Measure</label>
                    <select class="form-control custom-select border-sharp" id="measure" name="measure"></select>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn-lg form-control border-sharp bg-xx-7 text-white">Add item</button>
                </div>

            </div>
        
        </form>
    </div>

</div>

@section Scripts {
    <script src="~/js/ItemNew.js"></script>
}
